h1{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
  margin-top: 15 px;
  margin-bottom: 35px;
 }
 
 button {
   padding: 1.3em 3em;
   font-size: 12px;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   font-weight: 500;
   color: #000;
   background-color: #fff;
   border: none;
   border-radius: 45px;
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease 0s;
   cursor: pointer;
   outline: none;
  }
  
  button:hover {
   background-color: #000000;
   box-shadow: 0px 15px 20px #e61ebb;
   color: #fff;
   transform: translateY(-7px);
  }
  
  button:active {
   transform: translateY(-1px);
  }
 
.conteudo{
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  margin-top: 100px;
  margin-bottom:50px;
  padding: 55px;
  border-radius: 26px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background:#414040;
   box-shadow:  40px -40px 70px #807878, -5px 10px 30px #e61ebb;
}

.topo{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.topo input{
  width: 350px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:15px;
  border-radius: 12px;
  border: 1px solid #191818;
  outline: none;
  font-size: 1.2rem;
  color: #000000;
}
